@charset "utf-8";
body {
	background-color: rgb(196, 163, 163);
	margin: 0px;
	padding: 0px;
}
.kotak {
	background-color: #FFF;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.content {
	background-color: #099;
	float: left;
	width: 1000px;
}
