@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	background-color: #CCC;
	float: none;
}
.header {
	background-color: #099;
	float: left;
	height: 50px;
	width: 1000px;
}
.content {
	background-color: #FFF;
	float: left;
	height: 500px;
	width: 1000px;
}
footer {
	background-color: #099;
	float: left;
	height: 50px;
	width: 1000px;
}



.kotak {
	background-color: #099;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	float: left;
}
